appnope==0.1.0
argon2-cffi==20.1.0
attrs==20.1.0
backcall==0.2.0
beautifulsoup4==4.9.1
bleach==3.1.5
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
diffimg==0.2.3
entrypoints==0.3
filelock==3.0.12
future==0.18.2
idna==2.10
ipykernel==5.3.4
ipython==7.31.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
joblib==0.16.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab==2.2.6
jupyterlab-server==1.2.0
kiwisolver==1.2.0
lmdb
MarkupSafe==1.1.1
matplotlib==3.3.1
mistune==2.0.3
nbconvert
nbformat==5.0.7
notebook==6.4.12
numpy==1.22.0
#opencv-python==4.4.0.42
packaging==20.4
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
python-Levenshtein
pyzmq
regex
requests
sacremoses
Send2Trash
sentencepiece
six
soupsieve
terminado
testpath
textdistance
tokenizer
#torch
torchvision
tornado
tqdm
traitlets
transformers
trdg
urllib3
wcwidth
webencodings
widgetsnbextension
pytorch-pretrained-bert
